<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
<form action="/blog/test/"method="post">
        <p>姓名<input type="text"name="username"></p>
        <p>性别<input type="text"name="sex"></p>
        <p>年龄<input type="text"name="age"></p>
        <p><input type="submit"name="submit9"></p>
</form>
<hr>
<table>
    <tr>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
    </tr>


        <tr>
            <td>{{ aa }}</td>
            <td>{{ bb }}</td>
            <td>{{ cc }}</td>
        </tr>

</table>
</hr>
</body>
</html>